name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
        
    - name: Install build
      run: pip install build setuptools_scm
      
    - name: Version var
      run: export VERSION=$(python -m setuptools_scm ls) && echo "Building optimus-dl:${VERSION} and optimus-dl:latest..."
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Docker Build & Push Action
      uses: docker/bake-action@v6.10.0
      with:
        files: docker/docker-bake.hcl
        push: true
        allow: network.host
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max
