name: Python Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
  
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - uses: actions/cache@v5.0.1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install build
      run: pip install .[dev] --cache-dir ~/.cache/pip

    - name: Test with pytest
      run: |
        pytest
